# Virtual environments
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.log

# Django database
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Uploaded files
media/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Build files
build/
dist/
*.egg-info/
